.signUp {
  display: flex;
  flex-direction: column;
}

.signUp__form {
  border: 2px solid rgb(0, 153, 255);
  border-radius: 5px;
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
}

/* .signUp__input {
  width: 100%;
  margin: 10px 0 0 0;
} */
