/* .signIn {
  display: flex;
  flex-direction: column;
}

.signIn__form {
  border: 2px solid rgb(0, 153, 255);
  border-radius: 5px;
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
}

.signIn__input {
  width: 100%;
  height: 20px;
  margin: 0;
} */


